<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <title>ArtWorkModel List</title>
</head>
<body>
<div class="container">
  <h2>Art Work List</h2>
  <ul th:each="artWorkModel:${artWorkList}" >
    <li>
      <div class="desc" >
        <span>"ART WORK"</span>
        <br>
        <span th:text="${artWorkModel.artName}" ></span>
        <br>
        <br>
        <a th:href="@{/showArtWork(filePath=${artWorkModel.filePath})}" >
          <img th:src="${artWorkModel.filePath}" alt= image_File >
        </a>
        <br>
        <br>
        <span>"OVER VIEW"</span>
        <br>
        <span th:text="${artWorkModel.overView}" ></span>
      </div>
    </li>
  </ul>
</div>
</body>
</html>